{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/static/css/popup.css">
{% endblock %}

{% block content %}
<h3>An API service for Yale student organizations and clubs!</h3>
<p>YaleOrgs is a powerful yet clean API for accessing information about the various organizations in the Yale community.</p>
<p>Please reach out to <a href="mailto:erik.boesen@yale.edu">erik.boesen@yale.edu</a> with questions or feedback.</p>
<a class="button" href="/login/">Log in with CAS</a>
{% endblock %}
